

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBICttaOY1h75l8mjkTCSUz0bGbB4tHcGs"></script>
<script src="/Dinamic/Assets/Maps/MapBuilder.js"></script>
<div class="card shadow">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <form id="form-map-clients" onsubmit="return false;">
                <div class="form-row">
                    <legend class="text-info mt-2 mb-0"><i class="fas fa-map-marked-alt fa-fw"></i> Ubicaciones de usuarios</legend>
                    <div class="col-md-3">
                        <div class="form-group mb-2">
                            <label class="mb-0">Zona</label>
                            <select name="idzone" id="" class="form-control" autocomplete="off">
                                <option value="">------</option>
                                {% for zone in fsc.getZones() %}
                                    <option value="{{ zone.id }}">{{ zone.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-2">
                            <label class="mb-0">Pendiente de pago</label>
                            <select name="idzone" id="" class="form-control" autocomplete="off">
                                <option value="">------</option>
                                <option value="1">Pagado</option>
                                <option value="2">Impago</option>
                                <option value="3">Todos</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group mb-2">
                            <label class="mb-0">Estado de instalación</label>
                            <select name="idzone" id="" class="form-control" autocomplete="off">
                                <option value="">------</option>
                                <option value="1">Pendiente</option>
                                <option value="2">Instalado</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <button id="clean-map" class="btn btn-secondary btn-sm mt-4">
                            <i class="fas fa-eraser fa-fw"></i> Limpiar
                        </button>
                        <button id="search-map" class="btn btn-primary btn-sm mt-4">
                            <i class="fas fa-search fa-fw"></i> Buscar
                        </button>
                    </div>
                </div>
                </form>

                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div id="map-clients" style="height: calc(100vh - 370px);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const MapClients = new MapBuilder(
        'map-clients',
        -0.2853451502536884,
        -78.5433042353088
    );


    $('#search-map').on('click', () => {
        fetch('/MapsClientController?action=get-clients-location')
            .then(response => response.json())
            .then(json => {
                for(let item of json) {
                    MapClients.addMarkerWithInfoWindow(
                        item.lat,
                        item.lng,
                        item.id,
                        `
                            <strong>${item.nombre}</strong><br>
                            ${ item.cifnif + '<br>'|| ''}
                            ${ item.direccion + '<br>'|| ''}
                            ${ item.telefono + '<br>'|| ''}
                            ${ item.email + '<br>'|| ''}
                            <strong>${item.plan}</strong><br>
                            <a href="${item.url}" target="_blank">Ver usuario</a>
                        `
                    );
                }
            })
    })

</script>